/* */
body{
    font-family: 'Open Sans', sans-serif;
}
/*Portfolio Style*/
nav{
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.nev-title{color: var(--Dark-01, #181818);

    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

}
.pry{
   color: orange;
}
nav> ul{
    display: flex;
    
}
nav li{
    list-style: none;
    margin: 50px;

}
nav a {
    text-decoration: none;
    color: #181818;
    margin: 0 5px;
}
.btn{
    color: var(--White-Color, #FFF);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 100;
line-height: normal;
border-radius: 5px;
background: #FD6E0A;
padding: 15px 35px;
}
.header{
    background-color: #FFF;
}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.banner .profile-photo{
    width: 500px;

}